@model BareBonesFrontEnd.Models.ViewModels.StudentWithAllStateNames
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Student</h1>
    </div>
</div>

<div class="container" py-5>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="students.Name" required />
            <span class="text-danger" asp-validation-for="students.Name"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Rank</label>
            <input type="text" class="form-control" id="rank" asp-for="students.Rank" required />
            <span class="text-danger" asp-validation-for="students.Rank"></span>
        </div>

        @* <div class="mb-3">
        <label class="form-label">StateId</label>
        <input type="text" class="form-control" id="stateid" asp-for="StateId" required />
        <span class="text-danger" asp-validation-for="Rank"></span>
        </div> *@


        <div class="mb-3">
            <label class="form-label">State</label>
            <select name="state" id="state">
                @foreach (var state in Model.states)
                {
                    <option value=@state.Id>@state.StateName</option>
                    @* <option value=@state.Id>@state.StateName</option>
                <option value=@state.Id>@state.StateName</option>
                <option value=@state.Id>@state.StateName</option> *@
                }

            </select>
            @* <input type="text" class="form-control" id="displayName" asp-for="Rank" required />
            <span class="text-danger" asp-validation-for="Rank"></span> *@
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>