@model List<Student>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var student in Model)
    {
        <h1>@student.Id</h1>
        <h1>@student.Name</h1>
        <h1>@student.Rank</h1>
    }
</div>
